<body>
    <div style="width: 80%; max-width: 1200px; margin: 0 auto; padding: 20px; background-color: #f0f0f0; border: 1px solid #ccc; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);">
        <header style="text-align: center;">
            <img src="https://new.dimin.cl/assets/img/DIMIN-opc.1-color.png" alt="logo minas" width="400px">
        </header><br>
        <p><b>Nombre:</b> nombreForm</p>
        <p><b>Correo:</b> mailForm</p>
        <p><b>Asunto:</b> asuntoForm</p>
        <p><b>Mensaje:</b> msjForm</p><br><br>

    </div>
    <footer>
        <div style="text-align: center; background: url('http://new.dimin.cl/assets/img/ximg_foot.jpg.pagespeed.ic.-EmR-XL_kn.webp') top center no-repeat; padding: 20px; width: 80%; max-width: 1200px; margin: 0 auto; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);">
          <p style="color:white;">Departamento de Ingeniería en Minas, Facultad de Ingeniería, Universidad de Santiago de Chile.</p>
          <p style="color:#f27300;">Av. Las Sophoras 175, Estación Central. Fono (56-2) 27182100 - (56-2) 27182126</p>
        </div>
    </footer>
</body>
