/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-top: 5px;
}

.contact .php-email-form {
  width: 100%;
  background: var(--color-default);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: var(--color-default);
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: var(--color-default);
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: var(--color-default);
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: var(--color-success);
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: var(--color-primary);
  border: 0;
  padding: 10px 35px;
  color: var(--color-default);
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #3ac162;
}

.contact .section-title{
  display: none;
}

.contact-icon {
  font-size: 2rem;
  margin-right: 15px;
}

@media (max-width: 992px) {
  .contact .section-title {
    display: block;
    background: var(--color-primary);
    color: var(--color-default) !important;
    padding: 15px;
    margin-bottom: 15px;
    color: var(--color-default);
  }

  .contact .section-title h2{
    color: var(--color-default) !important;
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*contact*/
.contact .info-item {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
  padding: 20px 0 30px 0;
}

.contact .info-item i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  font-size: 24px;
  line-height: 0;
  color: var(--color-primary);
  border-radius: 50%;
  border: 2px dotted var(--color-primary);
}

.contact .info-item h3 {
  font-size: 20px;
  color: #6c757d;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-item p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

/* modal adjuntar archivos paciente */

.drag-area {
  border: 2px dashed #ddd;
  height: 140px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}


.drag-area.active {
  background-color: #b8d4fe;
  color: black;
  border: 2px dashed #618ac9;
}


.drag-area label {
  font-size: 15;
  color: #495057 !important;
  font-weight: 500;
  padding: 40px 161px;
}

.clickable-label {
  cursor: pointer;
}


.clickable-label .bi-cloud-upload {
  font-size: 40px;
  color: #495057;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .drag-area label {
    padding: 40px 26px;
  }
}
