/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/* Colors */
:root {
  --color-default: #FFF;
  --color-primary: #00958b;
  --color-secondary: #394049;
  --color-black: #000;
  --color-success: #5fcf80;
  --color-cobre: #f27300;
}

/* Color */
.default{background-color: var(--color-default);}
.primary{background-color: var(--color-primary);}
.secondary{background-color: var(--color-secondary);}
.success{background-color: var(--color-success);}
.cobre{background-color: var(--color-cobre);}
.black{background-color: var(--color-black);}

body {
  font-family: "Poppins", sans-serif;
  color: #444444;
}

a {
  color: var(--color-success);
  text-decoration: none;
}

a:hover {
  color: #86db9f;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 50px 0;
  overflow: hidden;
}

.section-bg {
  background-color: var(--color-default);
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #9ae1af;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #37423b;
}

.breadcrumbs {
  text-align: center;
  background: var(--color-primary);
  padding: 30px 0;
  color: var(--color-default);
}

.breadcrumbs h2 {
  font-size: 32px;
  font-weight: 500;
}

.breadcrumbs p {
  font-size: 14px;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 5px 0;
  box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: var(--color-success);
}

#header .logo img {
  max-height: 50px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: var(--color-default);
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: var(--color-success);
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 30px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: var(--color-secondary);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: var(--color-success);
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: var(--color-default);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: var(--color-default);
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(32, 38, 34, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 6px;
  background-color: var(--color-default);
  background: url("../img/logos-dimin.png") top center;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: var(--color-default);
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: var(--color-success);
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: rgba(32, 38, 34, 0);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: var(--color-success);
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/Landing_Page_pc.png") top center;
  background-size: cover;
  position: center;
  background-position: center;
  background-attachment: fixed;
  justify-content: canter;
  align-items: center;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  padding-top: 15px;
  padding-bottom: 160px;
}

#hero .full-width-div {
  width: 100%;
  height: 230px;
  background-color: rgba(0, 149, 139, 0.8);
  display: grid;
  align-items: center;
  justify-content: center;
}

#hero .full-width-div h1 {
  margin: 0;
  font-size: 72px;
  font-weight: 500;
  text-align: center;
  color: var(--color-default); /* Puedes cambiar el color del texto si lo deseas */
}

#hero .imagen-centrada-superior {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 50%; /* Ajusta el tamaño de la imagen según tus necesidades */
}

@media (max-width: 768px) {
  #hero {
    height: 100vh;
    background: url("../img/Landing_Page_Movil.png") top center;
    background-size: contain;
    background-attachment: fixed;
  }

  #hero .container {
    padding-top: 20%;
    padding-bottom: 30%
  }

  #hero .full-width-div {
    height: 120px;
  }

  #hero .full-width-div h1 {
    font-size: 20px;
    color: var(--color-default); /* Puedes cambiar el color del texto si lo deseas */
  }
  
  #hero .imagen-centrada-superior {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 100%; /* Ajusta el tamaño de la imagen según tus necesidades */
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about .btn-postula{
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 80px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  color: var(--color-default);
  background: var(--color-cobre);
}

#about .btn-postula:hover {
  background: var(--color-success);
  border: 2px solid var(--color-success);
}

#about .btn-detalle{
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 80px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  border: 2px solid var(--color-default);
  color: var(--color-default);
  background: #2d2d2d;
}

#about .btn-detalle:hover {
  background: var(--color-success);
  border: 2px solid var(--color-success);
}


/*--------------------------------------------------------------
# Ingreso
--------------------------------------------------------------*/
#ingreso {
  width: 100%;
  height: 70vh;
  background: url("../img/postulacion-ingreso3.jpg") top center;
  background-size: cover;
  position: center;
  background-position: center;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 20px;
}

#ingreso h1, #ingreso h2, #ingreso img {
  display: none;
}

@media (max-width: 768px) {
  #ingreso {
    background: url("../img/fondo_responsiva.jpg") top center;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: center;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
  }

  #ingreso h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: var(--color-default);
    font-family: "Poppins", sans-serif;
    display: block;
  }
  
  #ingreso h2 {
    color: #eee;
    margin: 10px 0 0 0;
    font-size: 24px;
    display: block;
  }

  #ingreso img {
    display: block;
  }

}

/*--------------------------------------------------------------
# Courses
--------------------------------------------------------------*/
.courses .course-item {
  border-radius: 5px;
  border: 1px solid #eef0ef;
}

.courses .course-content {
  padding: 15px;
}

.courses .course-content h3 {
  font-weight: 700;
  font-size: 20px;
}

.courses .course-content h3 a {
  color: #37423b;
  transition: 0.3s;
}

.courses .course-content h3 a:hover {
  color: var(--color-success);
}

.courses .course-content p {
  font-size: 14px;
  color: #777777;
}

.courses .course-content h4 {
  font-size: 14px;
  background: var(--color-success);
  padding: 7px 14px;
  color: var(--color-default);
  margin: 0;
}

.courses .course-content .price {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  color: #37423b;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-top: 5px;
}

.contact .info {
  width: 100%;
  background: var(--color-default);
}

.contact .info i {
  font-size: 20px;
  color: var(--color-primary);
  float: left;
  width: 44px;
  height: 44px;
  background: #ecf9f0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #37423b;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #657a6d;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: var(--color-success);
  color: var(--color-default);
}

.contact .php-email-form {
  width: 100%;
  background: var(--color-default);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: var(--color-default);
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: var(--color-default);
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: var(--color-default);
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: var(--color-success);
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: var(--color-primary);
  border: 0;
  padding: 10px 35px;
  color: var(--color-default);
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #3ac162;
}

.contact iframe {
  display: block;
}

@media (max-width: 992px) {
  .contact iframe {
    display: block;
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Redes
--------------------------------------------------------------*/

.full-width-table {
  width: 100%;
}

.redes {
  text-align: center;
  padding: 15 0;
}

.redes h2 {
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 15px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
  padding: 25px;
  color: var(--color-default);
  background: url("../img/img_foot.jpg") top center no-repeat;
  background-size: cover;
  position: relative;
}

#footer-direccion {
  color: var(--color-cobre);
}

/*--------------------------------------------------------------
# Whatsapp
--------------------------------------------------------------*/

.whatsapp_flotante {
  position: fixed;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 99999999;
}

.whatsapp_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4e4e4;
  color: #7f7d7d;
  padding: 0 12px;
  border-radius: 25px;
  font-size: 13px;
  line-height: 32px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
}

.whatsapp_contenido {
  margin: 0 8px 0 -12px;
  order: 0;
}

.whatsapp_imagen {
  pointer-events: none;
  display: block;
  height: 32px;
  width: 32px;
}

@media (max-width: 768px) {
  .whatsapp_icon {
    background-color: transparent;
    box-shadow: none;
  }

  .text_whatsapp {
    display: none;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero_sub {
  width: 100%;
  background: url("../img/img_foot22.jpg") top center;
  background-size: cover;
  position: center;
  background-position: center;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
}

#hero_sub h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: var(--color-default);
  font-family: "Poppins", sans-serif;
  padding-top: 50px;
}

@media (max-width: 575px) {
  #hero_sub h1 {
    font-size: 28px;
    text-align: center;
  }
}

/* modal adjuntar archivos */

.drag-area {
  border: 2px dashed #ddd;
  height: 140px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}


.drag-area.active {
  background-color: #b8d4fe;
  color: black;
  border: 2px dashed #618ac9;
}


.drag-area label {
  font-size: 15;
  color: #495057 !important;
  font-weight: 500;
  padding: 40px 271px;
}

.clickable-label {
  cursor: pointer;
}


.clickable-label .bi-cloud-upload {
  font-size: 40px;
  color: #495057;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .drag-area label {
    padding: 40px 26px;
  }
}

/*--------------------------------------------------------------
# Modal Informativo
--------------------------------------------------------------*/

.modal-content-custom {
  background: url('../img/Banner_Popup_2.png') no-repeat center center;
  background-size: contain;
  height: auto;
  min-height: 400px;
  cursor: pointer;
  border-radius: 20px;
}

/* Personaliza la transición del modal para deslizarse desde la parte superior */
.modal.fade .modal-dialog {
  transform: translate(0, -50%);
  transition: transform 1.5s ease-out, opacity 1.5s ease-out;
  /* Ajusta la duración aquí */
}

.modal.show .modal-dialog {
  transform: translate(0, 0);
}

@media (max-width: 768px) {
  .modal-content-custom {
    min-height: 200px;
  }
}